@reference "../../index.css";

.checkbox-base {
  @apply size-[18px] border
  flex items-center justify-center
  rounded-xs;
}

@keyframes animate-ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}
