@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(101 85 143);
  --color-surface-tint: rgb(101 85 143);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(233 221 255);
  --color-on-primary-container: rgb(77 61 117);
  --color-secondary: rgb(98 91 113);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(232 222 248);
  --color-on-secondary-container: rgb(74 68 88);
  --color-tertiary: rgb(126 82 96);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(255 217 227);
  --color-on-tertiary-container: rgb(99 59 72);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(253 247 255);
  --color-on-background: rgb(29 27 32);
  --color-surface: rgb(253 247 255);
  --color-on-surface: rgb(29 27 32);
  --color-surface-variant: rgb(231 224 235);
  --color-on-surface-variant: rgb(73 69 78);
  --color-outline: rgb(122 117 127);
  --color-outline-variant: rgb(202 196 207);
  --color-inverse-surface: rgb(50 47 53);
  --color-inverse-on-surface: rgb(245 239 247);
  --color-inverse-primary: rgb(207 189 254);
  --color-primary-fixed: rgb(233 221 255);
  --color-on-primary-fixed: rgb(32 16 71);
  --color-primary-fixed-dim: rgb(207 189 254);
  --color-on-primary-fixed-variant: rgb(77 61 117);
  --color-secondary-fixed: rgb(232 222 248);
  --color-on-secondary-fixed: rgb(30 25 43);
  --color-secondary-fixed-dim: rgb(203 194 219);
  --color-on-secondary-fixed-variant: rgb(74 68 88);
  --color-tertiary-fixed: rgb(255 217 227);
  --color-on-tertiary-fixed: rgb(49 16 29);
  --color-tertiary-fixed-dim: rgb(239 184 200);
  --color-on-tertiary-fixed-variant: rgb(99 59 72);
  --color-surface-dim: rgb(222 216 224);
  --color-surface-bright: rgb(253 247 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(248 242 250);
  --color-surface-container: rgb(242 236 244);
  --color-surface-container-high: rgb(236 230 238);
  --color-surface-container-highest: rgb(230 224 233);

  /* dark color scheme */
  --color-primary-dark: rgb(207 189 254);
  --color-surface-tint-dark: rgb(207 189 254);
  --color-on-primary-dark: rgb(54 39 93);
  --color-primary-container-dark: rgb(77 61 117);
  --color-on-primary-container-dark: rgb(233 221 255);
  --color-secondary-dark: rgb(203 194 219);
  --color-on-secondary-dark: rgb(51 45 65);
  --color-secondary-container-dark: rgb(74 68 88);
  --color-on-secondary-container-dark: rgb(232 222 248);
  --color-tertiary-dark: rgb(239 184 200);
  --color-on-tertiary-dark: rgb(74 37 50);
  --color-tertiary-container-dark: rgb(99 59 72);
  --color-on-tertiary-container-dark: rgb(255 217 227);
  --color-error-dark: rgb(255 180 171);
  --color-on-error-dark: rgb(105 0 5);
  --color-error-container-dark: rgb(147 0 10);
  --color-on-error-container-dark: rgb(255 218 214);
  --color-background-dark: rgb(20 18 24);
  --color-on-background-dark: rgb(230 224 233);
  --color-surface-dark: rgb(20 18 24);
  --color-on-surface-dark: rgb(230 224 233);
  --color-surface-variant-dark: rgb(73 69 78);
  --color-on-surface-variant-dark: rgb(202 196 207);
  --color-outline-dark: rgb(148 143 153);
  --color-outline-variant-dark: rgb(73 69 78);
  --color-inverse-surface-dark: rgb(230 224 233);
  --color-inverse-on-surface-dark: rgb(50 47 53);
  --color-inverse-primary-dark: rgb(101 85 143);
  --color-primary-fixed-dark: rgb(233 221 255);
  --color-on-primary-fixed-dark: rgb(32 16 71);
  --color-primary-fixed-dim-dark: rgb(207 189 254);
  --color-on-primary-fixed-variant-dark: rgb(77 61 117);
  --color-secondary-fixed-dark: rgb(232 222 248);
  --color-on-secondary-fixed-dark: rgb(30 25 43);
  --color-secondary-fixed-dim-dark: rgb(203 194 219);
  --color-on-secondary-fixed-variant-dark: rgb(74 68 88);
  --color-tertiary-fixed-dark: rgb(255 217 227);
  --color-on-tertiary-fixed-dark: rgb(49 16 29);
  --color-tertiary-fixed-dim-dark: rgb(239 184 200);
  --color-on-tertiary-fixed-variant-dark: rgb(99 59 72);
  --color-surface-dim-dark: rgb(20 18 24);
  --color-surface-bright-dark: rgb(59 56 62);
  --color-surface-container-lowest-dark: rgb(15 13 19);
  --color-surface-container-low-dark: rgb(29 27 32);
  --color-surface-container-dark: rgb(33 31 36);
  --color-surface-container-high-dark: rgb(43 41 47);
  --color-surface-container-highest-dark: rgb(54 52 58);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --shadow-elevation-level-0: 0 0 0 1px rgba(0, 0, 0, 0.2);
  --shadow-elevation-level-1: 0 1px 2px rgba(0, 0, 0, 0.2);
  --shadow-elevation-level-2: 0 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-elevation-level-3: 0 3px 6px rgba(0, 0, 0, 0.2);
  --shadow-elevation-level-4: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-elevation-level-5: 0 5px 10px rgba(0, 0, 0, 0.2);

  --font-roboto: "Roboto", "sans-serif";

  --ease-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --ease-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1);
  --ease-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --ease-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1);
  --ease-default-effects: cubic-bezier(0.34, 0.8, 0.34, 1);
  --ease-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1);

  --animate-ripple: ripple 0.8s var(--ease-slow-effects) infinite;

  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.3;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
}
